.grid-container {
  display: grid;
  grid-template-columns: 50% 50% ;
  /* margin:2% 2% 2% 2%; */
  column-gap: 20px;
}
#map {
	height: 600px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}
#formulaire {
	position : center;
	position: center;
}
 #floating-panel {
  position: center;
    text-align: center;
  
  /* top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;*/
} 