<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>Session</filter-name>
		<display-name>Session</display-name>
		<description></description>
		<filter-class>filters.Session</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Session</filter-name>
		<url-pattern>/Session</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Basic</servlet-name>
		<display-name>Basic</display-name>
		<description></description>
		<servlet-class>servlets.Basic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<display-name>Inscription</display-name>
		<description></description>
		<servlet-class>servlets.Inscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<display-name>Deconnexion</display-name>
		<description></description>
		<servlet-class>servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<display-name>Connexion</display-name>
		<description></description>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MapGarden</servlet-name>
		<display-name>MapGarden</display-name>
		<description></description>
		<servlet-class>servlets.MapGarden</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjoutJardin</servlet-name>
		<display-name>AjoutJardin</display-name>
		<description></description>
		<servlet-class>servlets.AjoutJardin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AfficherProfil</servlet-name>
		<display-name>AfficherProfil</display-name>
		<description></description>
		<servlet-class>servlets.AfficherProfil</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateProfil</servlet-name>
		<display-name>updateProfil</display-name>
		<description></description>
		<servlet-class>servlets.updateProfil</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Basic</servlet-name>
		<url-pattern>/Basic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MapGarden</servlet-name>
		<url-pattern>/MapGarden</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutJardin</servlet-name>
		<url-pattern>/AjoutJardin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AfficherProfil</servlet-name>
		<url-pattern>/AfficherProfil</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateProfil</servlet-name>
		<url-pattern>/updateProfil</url-pattern>
	</servlet-mapping>

	<!-- permet de lancer des servlet avant des jsp sans les appeler -->
	<!-- mettre les jsp en question entre les balises welcome-file -->
	<welcome-file-list>
		<welcome-file>Index</welcome-file>
	</welcome-file-list>
</web-app>
